/* GENERAL STYLING */

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* APP COMPONENT STYLING */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
   
}

.App__wrapper {
  background-image: url(./Pictures/4a6b5214f65c4848fd59c57caefc6cc0.gif); 
  background-size: cover; 
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem;
}

.App__overlay {
  background-color: rgb(172, 48, 48);
}

.App__heading {
  background-image: url(./Pictures/Battle.png); 
  background-size: cover;   
  padding: 2rem;  
  background-size: contain;
  background-repeat: no-repeat; 
  min-width: 10rem;  
  margin-top: 5rem;    
    
}

.App__counter {
  font-size: 2rem;
  background-color: white;
  min-width: 4rem;
}

.App__characters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

.App__button--new-game {
  width: 13rem;
  font-size: 2rem;
}

.App__button--battle {
  width: 10rem;
  font-size: 2rem;
}

.App__display {
  min-width: 20rem;
  font-size: 2rem;
  background-color: black;
  color: white;
  margin-top: 2rem;
}