/* GENERAL STYLING */

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "Display";
  src: url("./Pictures/DISPLAY\ FREE\ TFB.ttf");
  src: url("./Pictures/display_free_tfb-webfont.woff") format("woff"),
  url("./Pictures/display_free_tfb-webfont.woff2") format("opentype"),  
  }

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* APP COMPONENT STYLING */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black; 
}

.App__wrapper {
  background-image: url(./Pictures/4a6b5214f65c4848fd59c57caefc6cc0.gif); 
  background-color: black;
  background-size: cover; 
  min-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
}

.App_upperrightwrapper {
  display: flex;
  position: relative;
  left: 50rem;
  top: -10rem;  
}


.App__button--sound { 
  width: 5rem;
  height: 5rem; 
  border: 2px solid yellow;
  border-radius: 50%;
  background-color: red;
}

.App__gameover {
  position: absolute;
  top: 40rem;
  font-size: 10rem;
  text-align: center;
  margin-top: 2rem;
  font-family: 'Display', Arial, sans-serif;
  font-weight: bold;
  color: black;
  padding: 3rem;
  border: solid 5px yellow;
  box-shadow: 5px 5px 10px 2px rgb(150, 150, 0);
  animation: textblink 1s infinite;
  background: red;
}


@keyframes textblink {
  0% {
    text-shadow: 0px 0px 0px yellow;
  }
  50% {
    text-shadow: 0px 0px 15px yellow;
  }
  100% {
    text-shadow: 0px 0px 0px yellow;
  }
}


.App__button--sound:hover {
  transform: scale(1.1);
}


.App__logo {
  border: 10px solid #1550FF;
  box-shadow: 5px 5px 15px 5px #000000;
}


.App__display-and-counter {
  display: flex;
}

.App__counter {
  font-size: 3rem;
  background-color: black;
  color: yellow;
  min-width: 6rem;
  font-family: 'Display', Arial, sans-serif;
  font-weight: bold;
  font-family: 'Display', Arial, sans-serif;
  font-weight: bold;  
  padding: 1rem;
  margin: 0 7rem;
  border: solid 2px red;
  box-shadow: 5px 5px 15px 5px #000000;
  animation: displayblink 1s infinite;
}

.App__characters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

.App__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App__button--new-game {
  margin-left: 3rem;
  font-family: 'Display', Arial, sans-serif;
  font-weight: bold;
  width: 16rem;
  font-size: 2rem;
  box-shadow:inset 0px 0px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:8px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:black;	
	font-size:18px;
	font-weight:bold;
	padding:7px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
  box-shadow: 5px 5px 15px 5px #000000;
}

.App__button--new-game:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
  box-shadow: 4px 4px 26px -1px rgba(255,0,0,0.75);
    -webkit-box-shadow: 4px 4px 26px -1px rgba(255,0,0,0.75);
    -moz-box-shadow: 4px 4px 26px -1px rgba(255,0,0,0.75);
}

.App__button--new-game:active {
	position:relative;
	top:1px;
}

.App__button--battle {
  width: 10rem;
  font-size: 2rem;
  box-shadow:inset 0px 0px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:8px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family: 'Display', Arial, sans-serif;
  font-weight: bold;
	font-size:18px;	
	padding:7px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
  box-shadow: 5px 5px 15px 5px #000000;
}

.App__button--battle:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
  box-shadow: 4px 4px 26px -1px rgba(255,0,0,0.75);
    -webkit-box-shadow: 4px 4px 26px -1px rgba(255,0,0,0.75);
    -moz-box-shadow: 4px 4px 26px -1px rgba(255,0,0,0.75);
}

.App__button--battle:active {
	position:relative;
	top:1px;
}

.App__display {
  min-width: 20rem;
  font-size: 2rem;
  background-color: black;  
  font-family: 'Display', Arial, sans-serif;
  font-weight: bold;
  color: yellow;
  padding: 1rem;
  border: solid 2px red;
  box-shadow: 5px 5px 15px 5px #000000;
  animation: displayblink2 1s infinite;
}


@keyframes displayblink2 {
  0% {
    color: yellow;
  }
  50% {
    color: black;
  }
  100% {
    color: yellow;
  }
}